<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khh.web.dao.CategoryGoodsMapper" >
  <resultMap id="CategoryGoodsResultMap" type="com.khh.web.domain.CategoryGoods" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid"  />
  </resultMap>
  <sql id="add_Column_List" >
    id, category_id, goods_id, is_valid
  </sql>

</mapper>