<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khh.web.dao.PersonMapper" >
  <resultMap id="PersonResultMap" type="com.khh.web.domain.Person" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid"  />
  </resultMap>
  <sql id="add_Column_List" >
    id, account, email, phone, password, is_valid
  </sql>

  <insert id="insert" parameterType="com.khh.web.domain.Person" >
    insert into t_person(<include refid="add_Column_List"/>)
    value(
     #{id},#{account},#{email},#{phone},#{password},#{isValid}
    )
  </insert>

  <update id="deleteById" >
    update t_person set is_valid = 0 where id = #{id}
  </update>

  <update id="update" parameterType="com.khh.web.domain.Person" >
    update t_person
    set
    id = id,
    <if test="account != null">
      account = #{account},
    </if>
    <if test="password != null">
      password = #{password},
    </if>
    <if test="phone != null">
      phone = #{phone},
    </if>
    <if test="email != null">
      email = #{email},
    </if>
    <if test="isValid">
      is_valid = 1,
    </if>
    <if test="!isValid">
      is_valid = 0,
    </if>
    id =id
    where
    id = #{id} and is_valid = 1
  </update>

  <select id="findForLogin" parameterType="com.khh.web.domain.Person" resultMap="PersonResultMap">
      select * from t_person
      where password = #{password} and is_valid = 1 and
      <if test="account != null">
        account = #{account}
      </if>
      <if test="phone != null">
        phone = #{phone}
      </if>
      <if test="email != null">
        email = #{email}
      </if>
  </select>

  <select id="findByEmail" resultMap="PersonResultMap">
    select * from t_person
    where email = #{email} and is_valid = 1
  </select>

  <select id="findByAccount"  resultMap="PersonResultMap">
    select * from t_person
    where account = #{account} and is_valid = 1
  </select>

  <select id="findByPhone"  resultMap="PersonResultMap">
    select * from t_person
    where phone = #{phone} and is_valid = 1
  </select>
  
  <select id="findByIdAndPassword" resultType="int">
    select count(*) from t_person
    where password = #{password} and id = #{id} and  is_valid = 1
  </select>

</mapper>