<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khh.web.dao.RoleMapper" >
  <resultMap id="RoleResultMap" type="com.khh.web.domain.Role" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid"  />
  </resultMap>
  <resultMap id="RoleBeanResultMap" type="com.khh.common.bean.RoleBean">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <collection property="permissionList" javaType="ArrayList" ofType="com.khh.common.bean.PermissionBean" >
      <id column="p_id" property="id" />
      <result column="p_name" property="name"/>
      <result column="p_sign" property="sign"/>
      <result column="p_description" property="description"/>
    </collection>
  </resultMap>

  <sql id="add_column_list">
    id, name, description, sign, is_valid
  </sql>
  <insert id="insert" parameterType="com.khh.web.domain.Role">
    insert into t_role(<include refid="add_column_list" />)
    values(#{id},#{name},#{description},#{sign},#{isValid})
  </insert>

  <update id="update" parameterType="com.khh.web.domain.Role" >
    update t_role
    set
    id = id,
    <if test="name != null">
      name = #{name},
    </if>
    <if test="description != null">
      description = #{description},
    </if>
    <if test="sign != null">
      sign = #{sign},
    </if>
    <if test="isValid != null">
      is_valid = #{isValid},
    </if>
    id =id
    where
    id = #{id}
  </update>

  <select id="findById" resultMap="RoleResultMap">
    select * from t_role where id=#{id}
    <if test="isValid">
      and is_valid = 1
    </if>
    <if test="!isValid">
      and is_valid = 0
    </if>
  </select>

  <select id="findDetailById" resultMap="RoleBeanResultMap">
    select r.id as id , r.name as name ,r.description as description ,r.sign as sign,
    p.id as p_id, p.name as p_name, p.description as p_description, p.sign as p_sign
    from
    t_role_permission rp left join t_role r on  rp.role_id = r.id
    left join t_permission p ON  rp.permission_id = p.id
    where r.is_valid = 1 and p.is_valid = 1 and r.id=#{id}
  </select>


  <select id="findAllByPersonId" parameterType="string" resultMap="RoleResultMap" >
    select r.*
    from
    t_person_role pr left join t_person p on  pr.person_id = p.id
    left join t_role r ON  pr.role_id = r.id
    where p.id = #{id} and r.is_valid = 1 and pr.is_valid = 1
  </select>

  <select id="findAllWithDetail" resultMap="RoleBeanResultMap">
    select r.id as id , r.name as name ,r.description as description ,r.sign as sign,
    p.id as p_id, p.name as p_name, p.description as p_description, p.sign as p_sign
    from
    t_role_permission rp left join t_role r on  rp.role_id = r.id
    left join t_permission p ON  rp.permission_id = p.id
    where r.is_valid = 1 and p.is_valid = 1
  </select>

  <select id="findBySign" resultMap="RoleResultMap">
    SELECT * from t_role where  sign = #{sign} and is_valid = 1
  </select>

</mapper>