<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khh.web.dao.UserMapper" >
  <resultMap id="UserResultMap" type="com.khh.web.domain.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" />
  </resultMap>

  <resultMap id="UserRegisterBeanResultMap" type="com.khh.common.bean.UserRegisterBean" extends="UserResultMap">
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="userBeanResultMap" type="com.khh.web.domain.User" extends="UserResultMap">
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="add_Column_List" >
    id, name, birthday, address, create_time, is_valid
  </sql>

  <insert id="insert" parameterType="com.khh.web.domain.User">
    insert into t_user(<include refid="add_Column_List"/> )
    value(#{id},#{name},#{birthday},#{address},#{createTime},#{isValid})
  </insert>

  <update id="deleteById" >
    update t_user set is_valid = 0 where id = #{id}
  </update>

  <select id="findAllBean" resultMap="UserRegisterBeanResultMap">
    select p.id as id , p.account as account ,p.email as email , p.phone as phone ,
          u.name as name , u.create_time as create_time
    from t_user u,t_person p
    where
    u.id = p.id and p.is_valid = 1
  </select>

  <select id="findCountWithKey" parameterType="java.util.Map" resultType="int">
    select count(*) from t_user u,t_person p
    where u.id = p.id and p.is_valid = 1
    <if test="!keyMap.isEmpty()" >
      <foreach item="k" collection="keyMap.keys" separator="and" open="and" close="" >
        <if test="null != keyMap[k]">
          ${k} like '%${keyMap[k]}%' <!-- 注意写法-->
        </if>
      </foreach>
    </if>
  </select>

  <select id="findBeanInPage" parameterType="com.khh.common.bean.PagerBean" resultMap="UserRegisterBeanResultMap">
    select p.id as id , p.account as account ,p.email as email , p.phone as phone ,
          u.name as name , u.create_time as create_time
    from t_user u,t_person p
    where
    u.id = p.id and p.is_valid = 1
    <if test="!keyMap.isEmpty()" >
      <foreach item="k" collection="keyMap.keys" separator="and" open="and" close="" >
        <if test="null != keyMap[k]">
          ${k} like '%${keyMap[k]}%' <!-- 注意写法-->
        </if>
      </foreach>
    </if>
    limit #{start},#{pageSize}
  </select>

  <select id="findById" resultMap="userBeanResultMap">
     select p.id as id , p.account as account ,p.email as email , p.phone as phone ,
          u.name as name , u.create_time as create_time,u.birthday as birthday,u.address as address
    from t_user u,t_person p
    where  u.id = p.id and p.is_valid = 1 and p.id=#{id}
  </select>

  <update id="update" >
    update t_user
    SET
    id = id,
    <if test="name != null">
      name = #{name},
    </if>
    <if test="birthday != null">
      birthday = #{birthday},
    </if>
    <if test="address != null">
      address = #{address},
    </if>
    <if test="createTime != null">
      create_time = #{createTime},
    </if>
    <if test="isValid">
      is_valid = 1,
    </if>
    <if test="!isValid">
      is_valid = 0,
    </if>
    id = id
    where id = #{id} and is_valid = 1
  </update>

</mapper>