<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<!-- 没有登录认证的用户请求将跳转到此地址进行认证 -->
		<property name="loginUrl" value="/html/login.html"/>
		<!-- -->
		<property name="successUrl" value="/index.jsp"/>
		<!-- 没有权限默认跳转的页面-->
		<property name="unauthorizedUrl" value="/index.jsp"/>
		<property name="filterChainDefinitions">
			<value>
				<!-- 登录页允许访问 -->
				/html/login.html = anon
				<!-- 其他资源需要认证 -->
				/*.action = authc
			</value>
		</property>
	</bean>

	<!-- 缓存管理器 使用Ehcache实现 -->
	<!--<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">-->
		<!--<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>-->
	<!--</bean>-->

	<!-- 会话DAO -->
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

	<!-- 会话管理器 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO"/>
	</bean>

	<!-- 注册realm -->
	<bean id="NameSecurityRealm" class="com.khh.web.security.NamePasswordRealm" />
	<bean id="EmailSecurityRealm" class="com.khh.web.security.EmailPasswordRealm" />
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="NameSecurityRealm"/>
				<ref bean="EmailSecurityRealm"/>
			</list>
		</property>
		<!-- cacheManager,集合spring缓存工厂 -->
		<!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
		<!-- <property name="sessionManager" ref="sessionManager" /> -->
	</bean>

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
		
</beans>
